<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Three
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form [formGroup]="registerForm" (ngSubmit)="doSubmit()">
    <ion-list>
    
  <ion-item>
    <ion-label position="floating">Name:</ion-label>
    <ion-input  class="form-control" type="text" formControlName="fullname" [(ngModel)]="fullname"></ion-input>
    <div class="error" *ngIf="registerForm.controls['fullname'].hasError('required') && registerForm.controls['fullname'].touched">Enter fullname</div>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Phone Number:</ion-label>
    <ion-input  class="form-control" type="number" formControlName="phonenumber" [(ngModel)]="phonenumber"></ion-input>
    <div class="error" *ngIf="registerForm.controls['phonenumber'].hasError('required') && registerForm.controls['phonenumber'].touched">Enter Phone Number</div>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Email:</ion-label>
    <ion-input  class="form-control" type="text" formControlName="email" [(ngModel)]="email"></ion-input>
    <div class="error" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">Enter Email</div>
   </ion-item>

   <ion-item>
    <ion-label position="floating">Password:</ion-label>
    <ion-input  class="form-control" type="password"  formControlName="password" [(ngModel)]="password"></ion-input>
    <div class="error" *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">Enter Password</div>
    <!-- <div *ngFor="let error of errorMessages.password">
      <ng-container  *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
          <small class="error-message">Password is Requires</small>
      </ng-container>
          </div>  -->
   </ion-item>


    <ion-button type="submit" (click)="regist()">Register</ion-button>
  </ion-list>
  </form>
  
</ion-content>
